<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteTestng">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testScripts.Test2"/>
      <class name="testScripts.Test3"/>
      <class name="testScripts.Test1"/>
      <class name="testScripts.Test4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- SuiteTestng -->
