<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MavenTestNGSuite">
  <test thread-count="5" name="Test">
  <groups>
        <run>
            <include name="smoke">
            </include>
        </run>
  </groups>
    <classes>
       <class name="TestNGGroups"/>
      <class name="testScript.TestInsta"/>
      <class name="testScript.Testfacebook"/>
      <class name="testScript.TestTwitter"/>
      <class name="testScript.TestLinkedIn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- MavenTestNGSuite -->
